/* START Regole generali */

body {
    margin:0;
    padding: 0;
    height:100%;
    font-family: BlinkMacSystemFont,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.2;
    color: #000;
    background-color: #fff;
}
ul{
    list-style-type: none;
    margin:0;
    padding-inline-start: 10px;
}

figure{
    margin:0;
    padding: 0;
}
/* END Regole generali */

#main_page{
    max-width: 996px;
    position:relative;
    margin-left: auto;
    margin-right: auto;
}

.content{
    position:relative;
    top:30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.wrapper{
    position: relative;
    margin-top: 16px;
}

.row{
    position:relative;
    max-width:1280px;
    margin-left:auto;
    margin-right: auto;
    display:flex;
}

.main-content{
    flex-basis:66.6%;
    flex-grow:1;
    padding-left: 16px;
    padding-right: 16px;
}

.main-content>h1{
    font-size:20px;
    margin-bottom: 18px;
}

.block_title1{
    padding-top: 12px;
    padding-bottom: 12px;
    color: #4297b5;
    border-top: 1px solid #4297b5;
    border-bottom: 1px solid #e2e2e2;
    margin-top: 0;

}
.block_title{
    color: #4297b5;
}

.block_grid{
    display:flex;
    flex-wrap: wrap;
}

.block_item{
    flex-basis: 100%;
    max-width: 100%;
}

.entry_content{
    padding-top: 8px;
}

.entry_eyelet{
    display:inline-block;
    font-size: 14px;
    text-transform: uppercase;
    color:#4297b5;
}
.entry_title_article{
    margin-top: 8px;
}
.entry_title{
    padding-left: 0;
    margin-top: 8px;
    margin-bottom: 12px;
    font-size:34px;
}

.entry_title>a:link,.entry_title>a:visited{
    text-decoration: none;
    font-size: 34px;
    background-color:#fef4d3;
    color:black;
}
.entry_title>a:hover{
    color:#4297b5;
}
.entry_title1{
    padding-left: 0;
    margin-top: 8px;
    margin-bottom: 12px;
    font-size:34px;
}

.entry_title1>a:link,.entry_title1>a:visited{
    text-decoration: none;
    font-size: 34px;
    color:black;
}
.entry_title1>a:hover{
    color:#4297b5;
}
.block_item2{
    flex-basis:33%;
    max-width: 33%;
}

.entry_title2>a:link,.entry_title2>a:visited{
    font-size: 18px;
    text-decoration: none;
    background-color:#fef4d3;
    color:black;
}

.entry_title2>a:hover{
    color:#4297b5;
}

.entry_title3>a:link,.entry_title3>a:visited{
    font-size: 18px;
    text-decoration: none;
    color:black;
}

.entry_title3>a:hover{
    color:#4297b5;
}


.outro{
    flex-basis: 100%;
    max-width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    border-top: 1px solid #e2e2e2;
    text-align:right;
}

.outro>a{
    text-decoration: none;
    color: #4297b5;
}

/*freccia INIZIO*/
.outro>a>span {
    display: inline-block;
    font-size: inherit;
    font-style: normal;
    position: relative;
    vertical-align: middle;
    margin-left: 12px;
}

.outro>a span:before {
    border: 0.1rem solid currentColor;
    border-bottom: 0;
    border-right: 0;
    content: "";
    height: 0.55em;
    width: 0.55em;
    transform: translate(-50%,-50%) rotate(135deg);
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
}

.outro>a span:after {
    background: currentColor;
    content: "";
    height: 0.1rem;
    width: 0.8em;
    left: 45%;
    display: block;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
}
/*FRECCIA FINE*/

.main-content_bottom{
    border-top: 1px solid #e2e2e2;
}

.sidebar{
    flex-basis: 33.3%;
    padding-top: 70px;
    max-width: 348px;
    flex-grow: 1;
    position: relative;
    padding-left: 16px;
    padding-right: 16px;
}

.sidebar:before{
    content: "";
    position: absolute;
    top:0px;
    left: -16px;
    right: -16px;
    display: block;
    height: 1px;
    width: 100%;
    background-color: #c04942;
}
.sidebar:after{
    content: "";
    position: absolute;
    top:50px;
    left: -16px;
    right: -16px;
    display: block;
    height: 1px;
    width: 100%;
    background-color: #e2e2e2;;
}
.entry-shoulder{
    background-color: #f4f4f4;
    padding-bottom: 24px;
    position:relative;
    margin-bottom: 16px;
}


.entry_text{
    color: #fff;
    background-color: #c04942;
    position: absolute;
    top: 16px;
    right: 16px;
    left: auto;
    padding: 0 8px;
    font-size:14px;
}

.entry_title4>a:link,.entry_title4>a:visited{
    font-size: 18px;
    text-decoration: none;
    color:black;
}

.entry_title4>a:hover{
    color:#4297b5;
    margin-top: 8px;
    margin-bottom: 12px;

}

.entry_content1{
    padding-top:8px;
    padding-left: 16px;
    padding-right: 16px;
    position: static;
}


/*slider INIZIO */

.swiper{
    width:100%;
    height:fit-content;
}
.swiper-slide img{
    width:100%;
}

.swiper .swiper-pagination-bullet-active{
    background:#275273
}



/*slider FINE*/