@media screen and (max-width:768px) {
    .navbar .bar{
        top:70px;
        background-color: #4297b5;
    }
    .navbar .bar:before,.navbar .bar:after{
        background-color: #4297b5;
    }
    #switch:checked ~ label .bar{
        background-color: white;
    }
    .toggle_menu{
        top:87px;
    }
    .menu{
        display:none;
    }
    .menu-mobile{
        list-style: none;
        position: relative;
        top: 0;
        left: 0;
        height: 100%;
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .menu-mobile li{
        padding-bottom: 25px;
    }


    .menu-mobile li{
        border-top:1px solid #e2e2e2;
        padding-top: 25px;
    }

    .menu-mobile li a:link,.menu-mobile li a:visited{
        color: #4297b5;
        font-family: "Source Serif Pro",Georgia,"Times New Roman",Times,serif;
        font-weight: 700;
        font-size: 22px;
        display: block;
        text-decoration: none;
        margin:0;
        padding:0;
        background-color: white;
    }
    .menu-mobile2 li a:link,.menu-mobile2 li a:visited{
        color: black;
        font-family: "Source Serif Pro",Georgia,"Times New Roman",Times,serif;
        font-weight: 400;
        font-size: 16px;
        display: block;
        text-decoration: none;
        margin:0;
        padding:0;
        background-color: white;
    }
    #search1{
        background-color: #ededed;
        min-height: 40px;
        max-height: 40px;
        width:calc(100% - 100px);
        border: none;
        border-radius: 3px;
        padding: 0 0 0 12px;
    }
    .modulo-ricerca>button{
        position: absolute;
        background-color: #ededed;
        height: 40px;
        width: 40px;
        border:none;
        padding:0;
        cursor: pointer;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    #menu-primary{
        display:none;
    }
    .header_page{
        display:none;
    }
    .header_page_nav{
        display: none;
    }

    .header_page_mobile{
        display:flex;
        flex-wrap: wrap;
    }

    .header_page_mobile>.header_page_top{
        display:flex;
        position: relative;
        box-sizing: border-box;
        width: 996px;
        height: 30px;
        margin:0 auto;
        align-items: center;
        justify-content: center;

    }
    .header_page_mobile>.header_page_middle{
        margin-left:0;
    }
    .header_page_mobile>.header_page_middle>.navigation{
        margin-left:0 ;
    }
    .header_page_mobile>.header_page_middle>.navigation>ul{
        padding-inline-start: 0;
    }
    .content{
        margin-top: 0;
    }

    #NOI-mobile{
        padding:8px;
        background-color:#ffdf33;
        text-decoration: none;
        font-style:italic;
        color:black;
        font-size:12px;
    }

    .main-content{
        flex-basis: 100%;
        max-width: 100%;
    }
    .row{
        max-width: 996px;
        flex-wrap: wrap;
    }
    .entry_media{
        display:none;
    }
    .block_item2{
        flex-basis: 100%;
        max-width: 100%;
        border-top: 1px solid #f1f1f1;
    }
    .outro{
        text-align: center;
    }
    .sidebar{
        flex-basis: 100%;
        max-width: 100%;
    }
    .block_item3{
        flex-basis:100%;
        max-width:100%;
    }
    .column-6{
        flex-basis:100%;
        max-width:100%;
    }
    .column-4{
        flex-basis:100%;
        max-width:100%;
    }
    .block_item4{
        flex-basis:100%;
        max-width:100%;
    }
    .block_item5{
        flex-basis:100%;
        max-width:100%;
    }
    .sidebar1{
        flex-basis:100%;
        max-width:100%;
    }
    .block_item6{
        flex-basis:100%;
        max-width:100%;
    }
    .column-3{
        flex-basis:100%;
        max-width:100%;
        display:flex;
        justify-content: center;
    }
    .block_title7:before {
        top:480px;
    }
    .main-content_top>.block_grid>.block_item3+.block_item3{
        border-top: 1px solid #f1f1f1;
    }

    .entry_editorial {
        border-bottom: none;
    }


}